.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.table-container {
  height: calc(100vh - 64px);
  max-width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.ant-table-sticky-scroll{
  display: none !important;
}